<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Traits</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-people-carry fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Team player</h4>
                    <p class="text-muted">I thrive in a team. Improvising trained me to carefully listen and understand how can I make the biggest impact. I follow the Essentialism motto; so I really value delegating and sharing responsibilities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-dumbbell fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Heavy Lifter</h4>
                    <p class="text-muted">I understand that results take hard work, that is why I train every day. I like to be at the top of my craft and willing to go the extra mile. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laugh-squint fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Having fun</h4>
                    <p class="text-muted">I know that having fun as important as results, that is why you can't tell I train every day! My personal goal is to empower everyone in the and create the best environment, so we love coming to work!</p>
                </div>
            </div>
        </div>
    </section>